<% layout('layouts/boilerplate') %>

<h2>Edytuj zadanie!</h2>
<div class="col-4 offset-8 me-2">
    <%- include('../partials/mathKeyboard') %> 
</div>


<form action="/branches/<%= branch._id %>/exercises/<%= exercise._id %>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate class = "mb-3 validated-form" >
    <div class="col-8 offset-0 mb-5" >
        <div id="formDiv" class="card ">
            <div class="card-body" >
                <label for="description">Treść zadania:</label>
                <textarea id="math-field0-input" class="form-control" name="exercise[description]" id="description" cols="30" rows="3" style="display: none" required><%= exercise.description %>  </textarea>
                    
                <span id="math-field0" class="card mathquill-editor mb-1" aria-label="0"  style="width: 100%; height: 9rem; display: block;" onclick='setFocusedSpan(this.id)'>
                        <%= exercise.description %>
                    </span>

                <hr>
                <label for="image" class="form-label ms-3 me-3">Załącz obraz (opcjonalnie):</label>
                <br>
                <% if(exercise.image){ %> 
                    <div id="imgName" style="display: none;" name="/images/exercises/<%=exercise.image.name %>"></div>
                    <input  type="file" class="form-input ms-4 me-3 mb-2"  accept="image/jpeg, image/png, image/jpg" id="image" name="image" ></input>
                    
                        <button id="deleteImg" style="display: none;" class="btn btn-sm btn-danger me-1">
                            🗑️ Usuń obraz
                        </button>

                <% }else{ %>
                    <input  type="file" class="form-input ms-4 me-3 mb-2"  accept="image/jpeg, image/png, image/jpg" id="image" name="image" ></input>
                    <button id="deleteImg" style="display: none;" class="btn btn-sm btn-danger me-1">🗑️ Usuń obraz</button>
                <% } %> 
                
                 
                
               
                
                <div id="display-image" class="card ms-3 mt-3 me-3 mb-3" style="width: auto;"></div>
                <hr>
            
                <label for="difficulty" class="form-label ms-3 me-3">Trudność zadania (1-bardzo łatwe, 5-bardzo trudne)</label>
                <fieldset class="starability-basic ms-3 me-3">
                    <input type="radio" id="no-rate" class="input-no-rate" name="exercise[difficulty]" value="0"  aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="exercise[difficulty]" value="1" />
                    <label for="first-rate1" title="Bardzo łatwe">1 star</label>
                    <input type="radio" id="first-rate2" name="exercise[difficulty]" value="2" />
                    <label for="first-rate2" title="Łatwe">2 stars</label>
                    <input type="radio" id="first-rate3" name="exercise[difficulty]" value="3"checked />
                    <label for="first-rate3" title="Średniozaawansowane">3 stars</label>
                    <input type="radio" id="first-rate4" name="exercise[difficulty]" value="4" />
                    <label for="first-rate4" title="Trudne">4 stars</label>
                    <input type="radio" id="first-rate5" name="exercise[difficulty]" value="5" />
                    <label for="first-rate5" title="Bardzo trudne">5 stars</label>
              </fieldset>
           
                <hr>
                <label for="answers" class="form-label ms-3 me-3">Dodaj możliwe odpowiedzi:</label>

                <div class="mb-2 ms-3 me-3 mb-2" name="answers" id="possibleAnswers">
                    <div>
                        A
                        <span id="math-field1" class="mq-math-mode mb-2" aria-label="A"  style="width: 100%; display: block;" onclick='setFocusedSpan(this.id)'>
                            <%= exercise.answers[0] %>
                        </span>
                    </div>
                    <div>
                        B
                        <span id="math-field2" class= " mq-math-mode mb-2 " placeholder="B"  style="width: 100%; display: block;" onclick='setFocusedSpan(this.id)'>
                            <%= exercise.answers[1] %>
                        </span>
                    </div>
                    <div>
                        C
                        <span id="math-field3" class=" mq-math-mode mb-2 " placeholder="C" aria-describedby="basic-addon1" style="width: 100%; display: block;" onclick='setFocusedSpan(this.id)'>
                            <%= exercise.answers[2] %>
                        </span>
                    </div>
                    
                    <div>
                        D
                        <span id="math-field4" class="mq-math-mode" style="width: 100%; display: block;" onclick='setFocusedSpan(this.id)'>
                            <%= exercise.answers[3] %>
                        </span>
                    </div>
                 
                    <input id="math-field1-input" type="text" class="form-control" name="exercise[answers]" placeholder="A" style="display: none" aria-describedby="basic-addon1" style="visibility: none" <%=  exercise.answers[0]===exercise.solution ? "checked" : "" %> required>
                    <input id="math-field2-input" type="text" class="form-control" name="exercise[answers]" placeholder="B" style="display: none" aria-describedby="basic-addon1" style="visibility: none" <%=  exercise.answers[1]===exercise.solution ? "checked" : "" %> required>
                    <input id="math-field3-input" type="text" class="form-control" name="exercise[answers]" placeholder="C" style="display: none" aria-describedby="basic-addon1" style="visibility: none" <%=  exercise.answers[2]===exercise.solution ? "checked" : "" %> required>
                    <input id="math-field4-input" type="text" class="form-control" name="exercise[answers]" placeholder="D" style="display: none" aria-describedby="basic-addon1" style="visibility: none" <%=  exercise.answers[3]===exercise.solution ? "checked" : "" %> required>
                </div>
                <div style="text-align: center;">
                    <button type="button"  class="btn btn-warning mb-3 text-center" id="refresh" onclick="refreshPage();"  style="width: 10em;  ">🔄 Anuluj zmiany</button>
                    <button type="button"  class="btn btn-info mb-3 text-center" id="addAnswers" onclick="chooseAnswerMenu();"  style="width: 10em;  ">✅ Zatwierdź</button>
                    
                </div>
               
                <div id="correctAnswer" style="display: none;">
                    <label>Dodaj rozwiązanie:</label>
                    
                </div>
            
                    <button id="saveBtn" class="btn btn-success mb-4 mt-2 ms-auto me-auto" style="display: none">Zapisz</button>
             
                
            </div>    
        </div>
    </div>

</form>

<style>
    @media (max-width:868px) {
        #display-image {
            max-width: 600px;
            margin: auto;
        }
    }
    #display-image{
        width: 200px;
        height: 200px;
        margin: 3px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    #saveBtn #addAnswers{
        align-items: center;
        width: 10rem;
    }
</style>

<script>

    const image_input = document.getElementById("image");
    const imgName = document.getElementById("imgName");
    const deleteImg = document.getElementById("deleteImg");
    if(imgName){
        const name = imgName.getAttribute("name")
        document.querySelector("#display-image").style.backgroundImage = `url(${name})`;
        deleteImg.style.display = 'initial'
    }
   
   
    image_input.addEventListener("change", function() {
        const reader = new FileReader();
        reader.addEventListener("load", () => {
            const uploaded_image = reader.result;
            document.querySelector("#display-image").style.backgroundImage = `url(${uploaded_image})`;
            deleteImg.style.display = 'initial'
        });
        reader.readAsDataURL(this.files[0]);
    });

    deleteImg.addEventListener('click', ()=>{
        document.querySelector("#display-image").style.backgroundImage = ``;
        image_input.value = ''
        deleteImg.style.display = 'none';
    })

    function refreshPage(){
        window.location.reload();
    } 
</script>



